/* LARGE SCREEN */
/* ******************************************************************* */

body {
  background-color: #2b2d42;
}

/* header/search button */
header {
  padding: 20px;
}

h1 {
  color: #d90429;
}

#search-form {
  margin-top: 20px;
}

#search-input {
  width: 300px;
  padding: 10px;
  border: 2px solid #7e1d22;
  border-radius: 10px;
  font-size: 16px;
}

#search-input:focus {
  border: 2px solid #16323a;
  border-radius: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #8d99ae;
  color: #2b2d42;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #edf2f4;
}

/* movies container */
.movie-container {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* movies container */
.movie-container {
  padding: 30px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item {
  width: calc(20% - 16px); /* Adjusted width to accommodate margin */
  margin-bottom: 40px;
  margin-right: 16px; /* Add margin-right for space between cards */
  padding: 20px;
  border: 2px solid #edf2f4;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #8d99ae;
}

.movie-item:last-child {
  margin-right: 0; /* Remove margin-right for the last card */
}

.movie-item h2 {
  font-size: 20px;
  margin: 10px 0;
}

.movie-item p {
  margin: 2px 0;
}

.read-more-button {
  background-color: #edf2f4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.additional-info {
  margin-top: 10px;
}
/* MEDIUM AND SMALL SCREEN */
/* ==================================================================== */
@media (min-width: 320px) and (max-width: 768px) {
  body {
    background-color: #0b435b;
  }

  /* header/search button */
  header {
    padding: 20px;
  }

  h1 {
    color: #1f0a0a;
    text-decoration-line: underline;
  }

  #search-form {
    margin-top: 20px;
    padding-bottom: 40px;
  }

  #search-input {
    width: 300px;
    padding: 10px;
    border: 2px solid #7e1d22;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  #search-input:focus {
    border: 2px solid #252d2c;
    border-radius: 10px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #8d99ae;
    color: #dedfeb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #9eb1ae;
  }
}
/* movies container */
.movie-container {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item {
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #e0ca23;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px #8d7d01;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.movie-item h2 {
  font-size: 20px;
  margin: 10px 0;
}

.movie-item p {
  margin: 2px 0;
}

.read-more-button {
  background-color: #68a59d;
  border: none;
  border-radius: 5px;
  border: 3px solid#1f0a0a;
  color: hsl(358, 22%, 78%);
  cursor: pointer;
  margin-top: 5px;
}

.additional-info {
  margin-top: 10px;
}
